body {
    text-align: center;
    font-family: "Georgia", serif;
    background: url(Images/thought-catalog-620865-unsplash.jpg) no-repeat center center fixed;
    background-size: cover;
  }

.quote {
  color: #ffffff;
  padding: 10px 20px 10px 20px
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
}

.quote-wrapper {
  display: flex;
  flex-grow: 1;
}
.button-wrapper {
  display: flex;
  flex-grow: 1;
}

.button {
    -webkit-border-radius: 60;
    -moz-border-radius: 60;
    border-radius: 60px;
    font-family: "Georgia", serif;
    color: #ffbdff;
    font-size: 20px;
    background: #9eb81f;
    padding: 10px 20px 10px 20px;
  }

  .button:hover {
    background: #f4c842;
    color: black;
    text-decoration: none;
  }
