body {
    text-align: center;
    background: url(Images/thought-catalog-620865-unsplash.jpg) no-repeat;
    background-size: cover;
  }

h1 {
    text-align: center;
  }

.button:hover {
    font-size: 1.2em;

  }
