
header {
  margin-top: 9vh;
  margin-left: 3vh;
  margin-right: 3vh;
  height: 100vh;
}

body {
  background-color: #eccfd9;
}

main {
  margin: auto;
  width: 80vw;
  padding: 10px;
}

#carouselExampleControls:fill{
.carousel,
.item,
.active {
    height: 100%;
}}

#problem {
  padding-top: 9vh;
  margin-left: 3vh;
  margin-right: 3vh;
  /* height: 100vh; */
  font-family: "Georgia", serif;
}

#solution {
  padding-top: 9vh;
  margin-left: 3vh;
  margin-right: 3vh;
  /* height: 100vh; */
  padding-bottom: 9vh;
  font-family: "Georgia", serif;
}

h1 {
  font-family: "Georgia", serif;
}

.fa {
  /* padding: 20px; */
  /* font-size: 100px; */
  width: 700px;
  text-align: right;
  text-decoration: none;
  border-radius: 50%;
}

.carousel-inner {
  height: 90vh;
}

.img {
  max-width: 120vw;
}

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/* html, body {
      width: 100%;
      height: 100%;
    overflow: hidden;
} */

.test {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: auto;
    width: auto;
}

.btn {
  padding: 20px 20px 20px 20px;
  font-family: Georgia;
}

.button-center-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:100%
  padding:10px 20px 10px 20px;
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
}
/* .button {
    -webkit-border-radius: 60;
    -moz-border-radius: 60;
    border-radius: 60px;
    font-family: Courier New;
    color: #ffbdff;
    font-size: 20px;
    background: #9eb81f;
    padding: 10px 20px 10px 20px;
  } */

/* solution {
  padding-top: 9vh;
  height: 100vh;
} */
